body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.btn {
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.card {
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

table {
    width: 650px;
    border-top: 7px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}

td {
    text-align: left;
    padding: 10px;
    border: 1px solid #dddddd;
}

th {
    text-align: center;
    padding: 10px;
    border: 1px solid #dddddd;
}


.show-password {
    display: flex;
    align-items: flex-start;
}

label {
    user-select: none;
}

#passData {
    display: block;
    width: 200px; /* Уменьшенный размер */
    height: 100px;
    margin: 5px 0; /* Уменьшенный отступ */
    padding: 5px; /* Уменьшенный padding */
    border: 1px solid #ccc;
    background-color: #f2f2f2; /* Светлый фон */
    font-family: Arial, sans-serif;
    font-size: 16px; /* Увеличенный размер шрифта */
    color: #333;
    text-align: left;
    line-height: 1.6; /* Увеличенное межстрочное расстояние */
    border-radius: 10px; /* Более округленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}


/* Добавить зеленый цвет текста и галочка, когда требования верны */
.valid {
    color: green;

}

.valid:before {
    position: relative;
    left: -5;
    content: "\2714";
}

.invalid {
    color: red;
    position: relative;
}

.invalid:before {
    position: relative;
    left: -5;
    content: "\2716";
    color: red;
}