<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>


<body>

<div style="padding: 20px" class="container">
    <div class="row">
        <div class="col-md-10 text-center">
            <h3>Создайте свой аккаунт здесь</h3>
        </div>
    </div>
</div>
<div>

    <div class="row">
        <div class="row">
            <div class="col-9">
                <form id="RegisterForm">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-end">Логин:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="username" name="username" onblur="checkLogin('username')"
                                           required>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-end">Пароль:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="password" name="password" required>
                                    <div class="show-password">
                                        <input id="tg1" type="checkbox" onclick="toggdlePassword('password')" tabindex="-1">
                                        <label for="tg1" style="margin-left: 5px">Показать пароль</label>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <div class="form-group row">
                                <label for="passwordAgain" class="col-md-4 col-form-label text-end">Введите пароль снова:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" id="passwordAgain" name="passwordAgain" required>
                                    <div class="show-password">
                                        <input id="tg2" type="checkbox" onclick="toggdlePassword('passwordAgain')" tabindex="-1">
                                        <label for="tg2" style="margin-left: 5px">Показать пароль</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <div class="form-group row">
                                <label for="secret" class="col-md-4 col-form-label text-end">Секретное слово:</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="secret" name="secret" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Создать аккаунт</button>
                        </div>
                    </div>

                </form>
            </div>

            <div id="passData" class="col" style="display: none">
                <span id="passwordData">

                </span>
            </div>
        </div>

    </div>


</div>
<script src="static/js/main.js"></script>
<script>createAccount()</script>
<script>checkPasswords('password', 'passwordAgain')</script>
</body>