<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoGuardian</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script>
    const isLogged = document.cookie.includes('isLogged=true');

    if (isLogged) {
        window.location.href = '/main.html'
    }
</script>

</head>
<body >

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>CryptoGuardian</h2>
        </div>
    </div>
</div>

<section class="py-5 text-center">
  <div class="container">
    <h2 class="mb-4">Защитите свои пароли с помощью нашего менеджера</h2>
    <p class="lead">Избавьтесь от необходимости запоминать пароли. Наш надежный менеджер паролей
      хранит их в безопасности, используя передовые технологии шифрования.
      Больше никаких записей на бумаге, никаких украденных паролей.
      Управляйте своими паролями с легкостью и уверенностью. Сделайте шаг в будущее</p>
  </div>
</section>



<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" onclick="window.location.href = 'login.html'">Войти</button>
            <button class="btn btn-primary" onclick="window.location.href = 'register.html'">Зарегистрироваться</button>
        </div>
    </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4"><b>Отзывы довольных пользователей</b></h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Иван Иванов</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et ligula ac quam tincidunt ullamcorper sit amet non enim.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Мария Петрова</h5>
          <p class="card-text">Nulla sed est sed tortor rutrum congue ac vitae diam. Nullam ac quam non erat semper ullamcorper.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Сергей Сидоров</h5>
          <p class="card-text">Sed et ligula ac quam tincidunt ullamcorper sit amet non enim. Nullam ac quam non erat semper ullamcorper.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="target-div"></div>


</body>
</html>