<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Управление паролями</title>

</head>
<body  onload="get_user()">

<div id="LoggedInContent" style="display: none;">

    <div class="container mt-5">
        <div class="container mt-5">
            <div class="col-12" style="text-align: right">
                <button id="unlogin" onclick="unlogin()" class="btn btn-danger">Выйти</button>
            </div>
            <h1 style="text-align: center;">
                Добро пожаловать, <span id="catch_user" class="mt-3"></span>!
            </h1>


            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Длина пароля:</span>
                        </div>
                        <input type="number" id="passwordLength" min="8" max="40" value="12" class="form-control">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="includeLows">
                        <label class="form-check-label" for="includeLows">Включить латинские буквы маленького регистра</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="includeUps">
                        <label class="form-check-label" for="includeUps">Включить латинские буквы большого регистра</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="includeNumbers">
                        <label class="form-check-label" for="includeNumbers">Включить цифры</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="includeSpecialSymbols">
                        <label class="form-check-label" for="includeSpecialSymbols">Включить специальные символы<br>Специальные
                            символы включают в себя: !@#$%&*_</label>
                    </div>
                    <button id="generateButton" onclick="getGeneratedPassword()" class="btn btn-primary">Генерация</button>
                    <span id="generatedPassword" class="col-6 mt-3"></span>
                </div>

                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя сервиса:</span>
                        </div>
                        <input type="text" id="AddServiceName" placeholder="Введите имя сервиса" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Логин:</span>
                        </div>
                        <input type="text" id="AddLogin" placeholder="Введите логин" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Пароль:</span>
                        </div>
                        <input type="text" id="AddPassword" placeholder="Введите пароль" class="form-control">
                    </div>
                    <button id="addNewButton" onclick="AddLoginPassword()" class="btn btn-success">Добавить</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя сервиса:</span>
                        </div>
                        <input type="text" id="DeleteServiceName" placeholder="Введите имя сервиса" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Логин:</span>
                        </div>
                        <input type="text" id="DeleteLogin" placeholder="Введите логин" class="form-control">
                    </div>
                    <button id="deleteButton" onclick="DeleteLoginPassword()" class="btn btn-danger">Удалить</button>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-auto">
                            <button id="showButton" onclick="getAllData()" class="btn btn-primary btn-block">Вывести сохранённые данные</button>
                        </div>
                        <div class="col">
                            <span id="passwordListContainer" class="mt-3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="NotLoggenInContent" style="display: none">
    <div class="alert alert-danger text-center mt-5">
        <h1>ДОСТУП ЗАПРЕЩЁН</h1>
        <p>Пожалуйста, войдите в систему, чтобы получить доступ к контенту</p>
        <a href="/" class="btn btn-primary">Вернуться на экран входа</a>
    </div>
</div>
<script>
    const isLogged = document.cookie.includes('isLogged=true');

    if (isLogged) {
        document.getElementById('LoggedInContent').style.display = 'block'
    } else {
        document.getElementById('NotLoggenInContent').style.display = 'block'
    }

</script>

<script src="static/js/script.js"></script>
</body>
</html>