<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Создайте свой аккаунт здесь</h3>
        </div>
    </div>
</div>
<div>


    <form id="loginForm" class="container mt-3">
        <h5>Введите логин и пароль</h5>
        <details>
            <summary>Требования к вводу данных</summary>
            <ul>
                <li>В логине разрешаются латинские буквы любого регистра, цифры, а также специальные символы: !@#$%&*_.-</li>
                <li>Логин должен быть длиной не менее 3 символов</li>
                <li>Пароль обязательно должен в себе содержать латинские буквы любого регистра, а также должен содержать цифры</li>
                <li>В пароле разрешаются латинские буквы любого регистра, цифры, а также специальные символы: !@#$%&*_.-</li>
                <li>Пароль должен быть длиной не менее 8 символов</li>
                <li>В секретном слове разрешаются латинские и русские буквы любого регистра, цифры а также специальные символы: !@#$%&*_.-
                </li>
                <li>Ограничений на длину секретного слова нет</li>
            </ul>
        </details>


        <div class="row mb-3">
            <div class="col-md-6">
                <label for="username" class="form-label">Логин:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="col-md-6">
                <label for="secret" class="form-label">Секретное слово. Запомните его: утеряв секретное слово, вы не сможете восстановить
                    свой аккаунт, если забудете пароль:</label>
                <input class="form-control" id="secret" name="secret" required>
            </div>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Создать аккаунт</button>
        </div>
    </form>


</div>
<script src="static/js/main.js"></script>
<script>createAccount()</script>
</body>