<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoGuardian</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <script src="static/js/main.js"></script>


</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>CryptoGuardian</h2>
        </div>
    </div>
</div>

<section class="py-5 text-center">
    <div class="container">
        <h2 class="mb-4">Защитите свои пароли с помощью нашего менеджера</h2>
        <p class="lead">Избавьтесь от необходимости запоминать пароли. Наш надежный менеджер паролей
            хранит их в безопасности, используя передовые технологии шифрования.
            Больше никаких записей на бумаге, никаких украденных паролей.
            Управляйте своими паролями с легкостью и уверенностью. Сделайте шаг в будущее</p>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" onclick="window.location.href = '/login'">Войти</button>
            <button class="btn btn-primary" onclick="window.location.href = '/register'">Зарегистрироваться</button>
        </div>
    </div>
</div>



<div id="target-div"></div>


</body>
</html>